.skills {
    padding: 20px;
    text-align: left;
}

.skills h2 {
    color: #333;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    margin-bottom: 10px;
    font-size: 18px;
}
